<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome-%d{yyyy-MM-dd}.log" encoding="UTF-8">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%logger{36}] - %msg%n" encoding="UTF-8"/>
            <Policies>
<!--                <TimeBasedTriggeringPolicy interval = "1"/>-->
<!--                <SizeBasedTriggeringPolicy size="250 MB" />-->
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="logs">
                    <IfFileName glob="hippodrome-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
